<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">
<th:block layout:fragment="content">
  <div class="bottom">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <input type="text" placeholder="Client" name="searchClient" id="searchClient">
          </div>
          <div class="col-md-5">
            <label>From</label>
            <input type="text" name="searchStartDate" id="searchStartDate" placeholder="From">
            <label>To</label>
            <input type="text" name="searchEndDate" id="searchEndDate" placeholder="To">
          </div>
          <div class="col-md-1 align-left text-left">
            <button class="btn btn-primary" id="searchResourceProject"><i class="fa fa-search"></i></button>
          </div>
          <div class="col-md-4 align-right text-right">
            <select id="select_graphtype" onchange="order(this.value)">
              <option>Order</option>
              <option value="asc">Ascending</option>
              <option value="des">Descending</option>
            </select>
            <select id="select_graphtype" onchange="row_per_page(this.value)">
              <option>Row Per Page</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <a data-toggle="modal" data-target="#addData" href="#" id="showAddData"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th scope="col">CLIENT</th>
                  <th scope="col">START</th>
                  <th scope="col">END</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody id="tbResourceProjct">
              </tbody>
            </table>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail Resource Project -->
  <div class="modal fade" id="detailData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Detail Resource Project</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <button type="button" onclick="showProjectInformation()"
                class="btn btn-primary btn-main-style col-md-12">PROJECT INFORMATION<span class="caret"></span></button>
              <div class="card" id="showProjectInformation" style="display:none">
                <div class="form-row">
                  <div class="col-md-6">
                    <input type="hidden" class="form-control" name="d_id" id="d_id">
                    <label style="font-size: 9pt;" for="d_client">Client*</label>
                    <div id="d_client">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label style="font-size: 9pt;" for="location">Location</label>
                    <div id="d_location">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <label style="font-size: 9pt;" for="department">Department</label>
                    <div id="d_department">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label style="font-size: 9pt;" for="userorpic_name">User/PIC Name</label>
                    <div id="d_userPicName">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <label style="font-size: 9pt;" for="project_name">Project Name*</label>
                    <div id="d_projectName">
                      <p>
                        <strong>
                        </strong>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: 9pt;" for="start">Start*</label>
                    <div id="d_startProject">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: 9pt;" for="end">End*</label>
                    <div id="d_endProject">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <label style="font-size: 9pt;" for="project_role">Project Role*</label>
                    <div id="d_projectRole">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label style="font-size: 10pt;" for="project_phase">Project Phase*</label>
                    <div id="d_projectPhase">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" onclick="showProjectDescription()"
                class="btn btn-primary btn-main-style col-md-12 mt-3">PROJECT DESCRIPTION<span
                  class="caret"></span></button>
              <div class="card" id="showProjectDescription" style="display:none">
                <div class="form-row">
                  <div class="col-md-12">
                    <div id="d_projectDescription">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" onclick="showProjectTechnology()"
                class="btn btn-primary btn-main-style col-md-12 mt-3">PROJECT TECHNOLOGY<span
                  class="caret"></span></button>
              <div class="card" id="showProjectTechnology" style="display:none">
                <div class="form-row">
                  <div class="col-md-12">
                    <div id="d_projectTechnology">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" onclick="showMainTask()" class="btn btn-primary btn-main-style col-md-12 mt-3">MAIN
                TASK<span class="caret"></span></button>
              <div class="card" id="showMainTask" style="display:none">
                <div class="form-row">
                  <div class="col-md-12">
                    <div id="d_mainTask">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form ADD/EDIT Data -->
  <div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Resource Project Form</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="formAddEditData">
            <div class="form-row">
              <div class="col-md-6">
                <input type="hidden" class="form-control" name="id" id="id">
                <label style="font-size: 10pt;" for="client">Client*</label>
                <select class="form-control get_client" name="clientId" id="clientId"></select>
              </div>
              <div class="col-md-6">
                <label style="font-size: 10pt;" for="location">Location</label>
                <input type="text" class="form-control" name="location" id="location" maxlength="100">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label style="font-size: 10pt;" for="department">Department</label>
                <input type="text" class="form-control" name="department" id="department" maxlength="100">
              </div>
              <div class="col-md-6">
                <label style="font-size: 10pt;" for="userorpic_name">User/PIC Name</label>
                <input type="text" class="form-control" name="picName" id="picName" maxlength="100">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label style="font-size: 10pt;" for="project_name">Project Name*</label>
                <input type="text" class="form-control" name="projectName" id="projectName" maxlength="100">
              </div>
              <div class="col-md-3">
                <label style="font-size: 10pt;" for="start">Start*</label>
                <input type="text" name="startProject" id="startProject">
              </div>
              <div class="col-md-3">
                <label style="font-size: 10pt;" for="end">End*</label>
                <input type="text" name="endProject" id="endProject">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label style="font-size: 10pt;" for="project_role">Project Role*</label>
                <input type="text" class="form-control" name="projectRole" id="projectRole" maxlength="255">
              </div>
              <div class="col-md-6">
                <label style="font-size: 10pt;" for="project_phase">Project Phase*</label>
                <input type="text" class="form-control" name="projectPhase" id="projectPhase" maxlength="255">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <label style="font-size: 10pt;" for="projectDescription">Project Description*</label>
                <textarea type="text" class="form-control" name="projectDescription" id="projectDescription"
                  maxlength="255"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <label style="font-size: 10pt;" for="projectTechnology">Project Technology*</label>
                <textarea type="text" class="form-control" name="projectTechnology" id="projectTechnology"
                  maxlength="255"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <label style="font-size: 10pt;" for="mainTask">Main Task*</label>
                <textarea type="text" class="form-control" name="mainTask" id="mainTask" maxlength="255"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="resetBtn">Reset</button>
          <button type="button" id="saveBtn" class="btn btn-primary" style="display:none">Save</button>
          <button type="button" id="updateBtn" class="btn btn-primary" style="display:none">Update</button>
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="resource_project">
  <script>

    $(() => {
      loadResoureProject();
    });
    loadResoureProject = () => {
      $.ajax({
        url: 'api/resource-project/client-employee',
        type: 'get',
        contentType: 'application/json',
        success: (res) => {
          document.getElementById('searchStartDate').value = "";
          document.getElementById('searchEndDate').value = "";
          $('#tbResourceProjct').html("");
          res.map((data) => {
            var actions = '<div class="input-group-btn">\n' +
              '             <div class="dropdown show">\n' +
              '                 <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </a>\n' +
              '            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_detail(\'' + data.id + '\',\'' + data.name + '\')" data-toggle="modal" data-target="#detailData" id="detailResourceProject">Detail</a>\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_edit(' + data.id + ')" data-toggle="modal" data-target="#addData">Edit</a>\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_delete(\'' + data.id + '\',\'' + data.name + '\')">Delete</a>\n' +
              '            </div>\n' +
              '             </div>\n' +
              '        </div>'
            var markup = "<tr class='align-middle text-center'><td>" + data.name + "</td><td>" + convertionDate(data.startProject) + "</td><td>" + convertionDate(data.endProject) + "</td><td>" + actions + "</td></tr>"
            $('#tbResourceProjct').append(markup)
          })
        },
        error: () => {
          swal.fire("Error!", "Fetch Data Resource Project Failed", "error");
        }
      })
    }

    function order(order_type) {
      if (order_type == 'asc') {
        $.ajax({
          url: 'api/resource-project/ascending',
          type: 'get',
          contentType: 'application/json',
          success: (res) => {
            $('#tbResourceProjct').html("");
            res.map((data) => {
              var actions = '<div class="input-group-btn">\n' +
                '             <div class="dropdown show">\n' +
                '                 <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </a>\n' +
                '            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">\n' +
                '                 <a class="dropdown-item" onclick="get_id_resource_project_detail(\'' + data.id + '\',\'' + data.name + '\')" data-toggle="modal" data-target="#detailData" id="detailResourceProject">Detail</a>\n' +
                '                 <a class="dropdown-item" onclick="get_id_resource_project_edit(' + data.id + ')" data-toggle="modal" data-target="#addData">Edit</a>\n' +
                '                 <a class="dropdown-item" onclick="get_id_resource_project_delete(\'' + data.id + '\',\'' + data.name + '\')">Delete</a>\n' +
                '            </div>\n' +
                '             </div>\n' +
                '        </div>'
              var markup = "<tr class='align-middle text-center'><td>" + data.name + "</td><td>" + convertionDate(data.startProject) + "</td><td>" + convertionDate(data.endProject) + "</td><td>" + actions + "</td></tr>"
              $('#tbResourceProjct').append(markup)
            })
          },
          error: () => {
            swal.fire("Error!", "Fetch Data Resource Project Failed", "error");
          }
        })
      }
      else {
        $.ajax({
          url: 'api/resource-project/descending',
          type: 'get',
          contentType: 'application/json',
          success: (res) => {
            $('#tbResourceProjct').html("");
            res.map((data) => {
              var actions = '<div class="input-group-btn">\n' +
                '             <div class="dropdown show">\n' +
                '                 <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </a>\n' +
                '            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">\n' +
                '                 <a class="dropdown-item" onclick="get_id_resource_project_detail(\'' + data.id + '\',\'' + data.name + '\')" data-toggle="modal" data-target="#detailData" id="detailResourceProject">Detail</a>\n' +
                '                 <a class="dropdown-item" onclick="get_id_resource_project_edit(' + data.id + ')" data-toggle="modal" data-target="#addData">Edit</a>\n' +
                '                 <a class="dropdown-item" onclick="get_id_resource_project_delete(\'' + data.id + '\',\'' + data.name + '\')">Delete</a>\n' +
                '            </div>\n' +
                '             </div>\n' +
                '        </div>'
              var markup = "<tr class='align-middle text-center'><td>" + data.name + "</td><td>" + convertionDate(data.startProject) + "</td><td>" + convertionDate(data.endProject) + "</td><td>" + actions + "</td></tr>"
              $('#tbResourceProjct').append(markup)
            })
          },
          error: () => {
            swal.fire("Error!", "Fetch Data Resource Project Failed", "error");
          }
        })
      }
    }



    function row_per_page(page) {
      if (page == '1') {
        get_data(page);
      } else if (page == '2') {
        get_data(page);
      } else if (page == '3') {
        get_data(page);
      } else if (page == '4') {
        get_data(page);
      } else {
        get_data(page);
      }
    }

    function convertionDate(date) {
      var con_date = new Date(date);
      var a_year = con_date.getFullYear();
      var a_month = "";
      var a_date = con_date.getDate();

      if (con_date.getMonth() + 1 == "01") {
        a_month = "January";
      } else if (con_date.getMonth() + 1 == "02") {
        a_month = "February";
      } else if (con_date.getMonth() + 1 == "03") {
        a_month = "March";
      } else if (con_date.getMonth() + 1 == "04") {
        a_month = "April";
      } else if (con_date.getMonth() + 1 == "05") {
        a_month = "Mei";
      } else if (con_date.getMonth() + 1 == "06") {
        a_month = "June";
      } else if (con_date.getMonth() + 1 == "07") {
        a_month = "July";
      } else if (con_date.getMonth() + 1 == "08") {
        a_month = "August";
      } else if (con_date.getMonth() + 1 == "09") {
        a_month = "September";
      } else if (con_date.getMonth() + 1 == "10") {
        a_month = "October";
      } else if (con_date.getMonth() + 1 == "11") {
        a_month = "November";
      } else {
        a_month = "December";
      }
      var show = "";
      show = a_month + " " + a_date + ", " + a_year;

      return show;
    }

    function get_id_resource_project_detail(id) {
      var x1 = document.getElementById("showProjectInformation");
      x1.style.display = "none";
      var x2 = document.getElementById("showProjectDescription");
      x2.style.display = "none";
      var x3 = document.getElementById("showProjectTechnology");
      x3.style.display = "none";
      var x4 = document.getElementById("showMainTask");
      x4.style.display = "none";
    }

    function showProjectInformation() {
      var x = document.getElementById("showProjectInformation");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function showProjectDescription() {
      var x = document.getElementById("showProjectDescription");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function showProjectTechnology() {
      var x = document.getElementById("showProjectTechnology");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function showMainTask() {
      var x = document.getElementById("showMainTask");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function convertionDate2(date) {
      var now = new Date(date);
      var month = ("0" + (now.getMonth() + 1)).slice(-2);
      var day = ("0" + now.getDate()).slice(-2);
      var today = now.getFullYear() + "-" + (month) + "-" + (day);
      return today;
    }

    function get_id_resource_project_detail(id_resource_project, name_client) {
      $.ajax({
        url: 'api/resource-project/' + id_resource_project,
        type: 'get',
        contentType: 'application/json',
        success: (res) => {
          $('#d_id').val(res.id),

            $('#d_client').html("");
          var put_client =
            '<p>' + name_client + '</p>'
          $('#d_client').append(put_client);

          $('#d_location').html("");
          var put_location =
            '<p>' + res.location + '</p>'
          $('#d_location').append(put_location);

          $('#d_department').html("");
          var put_department =
            '<p>' + res.department + '</p>'
          $('#d_department').append(put_department);

          $('#d_userPicName').html("");
          var put_user_or_pic_name =
            '<p>' + res.picName + '</p>'
          $('#d_userPicName').append(put_user_or_pic_name);

          $('#d_projectName').html("");
          var put_project_name =
            '<p>' + res.projectName + '</p>'
          $('#d_projectName').append(put_project_name);

          $('#d_startProject').html("");
          var put_start_project =
            '<p>' + convertionDate(res.startProject) + '</p>'
          $('#d_startProject').append(put_start_project);

          $('#d_endProject').html("");
          var put_end_project =
            '<p>' + convertionDate(res.endProject) + '</p>'
          $('#d_endProject').append(put_end_project);

          $('#d_projectRole').html("");
          var put_project_role =
            '<p>' + res.projectRole + '</p>'
          $('#d_projectRole').append(put_project_role);

          $('#d_projectPhase').html("");
          var put_project_phase =
            '<p>' + res.projectPhase + '</p>'
          $('#d_projectPhase').append(put_project_phase);

          $('#d_projectDescription').html("");
          var put_project_description =
            '<p>' + res.projectDescription + '</p>'
          $('#d_projectDescription').append(put_project_description);

          $('#d_projectTechnology').html("");
          var put_project_technology =
            '<p>' + res.projectTechnology + '</p>'
          $('#d_projectTechnology').append(put_project_technology);

          $('#d_mainTask').html("");
          var put_main_task =
            '<p>' + res.mainTask + '</p>'
          $('#d_mainTask').append(put_main_task);
        },
        error: () => {
          swal.fire("Error!", "Fetch Data Resource Project Detail Failed", "error");
        }
      })
    }


    function get_id_resource_project_edit(id_resource_project) {
      var y = document.getElementById("saveBtn");
      y.style.display = "none";
      var x = document.getElementById("updateBtn");
      x.style.display = "block"
      $.ajax({
        url: 'api/resource-project/' + id_resource_project,
        type: 'get',
        contentType: 'application/json',
        success: (res) => {
          $('#formAddEditData')[0].reset();
          $('#location').val(res.location),
            $('#id').val(res.id),
            $('#department').val(res.department),
            $('#picName').val(res.picName),
            $('#projectName').val(res.projectName),
            $('#startProject').val(convertionDate2(res.startProject)),
            $('#endProject').val(convertionDate2(res.endProject)),
            $('#projectRole').val(res.projectRole),
            $('#projectPhase').val(res.projectPhase),
            $('#projectDescription').val(res.projectDescription),
            $('#projectTechnology').val(res.projectTechnology),
            $('#mainTask').val(res.mainTask);
          $.ajax({
            url: 'api/client/employee',
            type: 'get',
            contentType: "application/json",
            success: function (result) {
              var optValue = "";
              optValue += '<option value="">- Pilih Client -</option>';
              for (var i = 0; i < result.length; i++) {
                if (res.clientId == result[i].id) {
                  optValue += `<option value="${result[i].id}" selected="selected">${result[i].name}</option>`;
                } else {
                  optValue += `<option value="${result[i].id}">${result[i].name}</option>`;
                }
              }
              $("#clientId").html(optValue);
            },
            error: function () {
              swal.fire("Error!", "Fetch Education Detail Failed", "error");
            }
          })
        },
        error: () => {
          swal.fire("Error!", "Fetch Data Resource Project Detail Failed", "error");
        }
      })
    }

    function get_id_resource_project_delete(id, name) {
      $('#addData').modal('hide');
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-warning'
        },
        buttonsStyling: false
      })

      swalWithBootstrapButtons.fire({
        title: 'Hapus ?',
        text: "Anda yakin ingin menghapus project di " + name + " ?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Ya',
        cancelButtonText: 'Tidak',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          $.ajax({
            url: 'api/resource-project/' + id,
            type: 'delete',
            contentType: 'application/json',
            success: () => {
              loadResoureProject();
              swalWithBootstrapButtons.fire(
                'Deleted!',
                'Your data has been deleted.',
                'success'
              )
            },
          })
        } else if (
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelled',
            'Your data file is safe :)',
            'error'
          )
          $('#detailVacancy').modal('show');
        }
      })
    }

    function resultSearchNameClient() {
      $.ajax({
        url: 'api/resource-project/search1?name_client=' + $('#searchClient').val(),
        type: 'get',
        contentType: 'application/json',
        success: (res) => {
          $('#tbResourceProjct').html("");
          res.map((data) => {
            var actions = '<div class="input-group-btn">\n' +
              '             <div class="dropdown show">\n' +
              '                 <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </a>\n' +
              '            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_detail(\'' + data.id + '\',\'' + data.name + '\')" data-toggle="modal" data-target="#detailData" id="detailResourceProject">Detail</a>\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_edit(' + data.id + ')" data-toggle="modal" data-target="#addData">Edit</a>\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_delete(\'' + data.id + '\',\'' + data.name + '\')">Delete</a>\n' +
              '            </div>\n' +
              '             </div>\n' +
              '        </div>'
            var markup = "<tr class='align-middle text-center'><td>" + data.name + "</td><td>" + convertionDate(data.startProject) + "</td><td>" + convertionDate(data.endProject) + "</td><td>" + actions + "</td></tr>"
            $('#tbResourceProjct').append(markup)
          })
        },
        error: () => {
          swal.fire("Error!", "Search Data Resource Project Error", "error");
        }
      })
    }

    function resultSearch() {
      $.ajax({
        url: 'api/resource-project/search2?&sp=' + $('#searchStartDate').val() + '&ep=' + $('#searchEndDate').val(),
        type: 'get',
        contentType: 'application/json',
        success: (res) => {
          $('#tbResourceProjct').html("");
          res.map((data) => {
            var actions = '<div class="input-group-btn">\n' +
              '             <div class="dropdown show">\n' +
              '                 <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </a>\n' +
              '            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_detail(\'' + data.id + '\',\'' + data.name + '\')" data-toggle="modal" data-target="#detailData" id="detailResourceProject">Detail</a>\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_edit(' + data.id + ')" data-toggle="modal" data-target="#addData">Edit</a>\n' +
              '                 <a class="dropdown-item" onclick="get_id_resource_project_delete(\'' + data.id + '\',\'' + data.name + '\')">Delete</a>\n' +
              '            </div>\n' +
              '             </div>\n' +
              '        </div>'
            var markup = "<tr class='align-middle text-center'><td>" + data.name + "</td><td>" + convertionDate(data.startProject) + "</td><td>" + convertionDate(data.endProject) + "</td><td>" + actions + "</td></tr>"
            $('#tbResourceProjct').append(markup)
          })
        },
        error: () => {
          swal.fire("Error!", "Search Data Resource Project Error", "error");
        }
      })
    }

    $("#searchClient").on("keydown", function (e) {
      if (e.which == 13) {
        resultSearchNameClient();
      }
    });

    $('#searchResourceProject').click(() => {
      if ($('#searchStartDate').val() == "" && $('#searchEndDate').val() == "") {
        swal.fire("Data Search Empty!", "Set From/to Date Or Input Client", "error");
      } else if ($('#searchClient').val() != "" && $('#searchStartDate').val() != "" && $('#searchEndDate').val() != "") {
        swal.fire("Choice Only 1 Type Search", "Searching Name of Client OR Range Date", "error");
      } else if ($('#searchClient').val() != "" && ($('#searchStartDate').val() == "" && $('#searchEndDate').val() == "")) {
        resultSearchNameClient();
      } else if ($('#searchClient').val() == "" && ($('#searchStartDate').val() != "" && $('#searchEndDate').val() != "")) {
        resultSearch();
      }
    })

    $('#showAddData').click(() => {
      var y = document.getElementById("saveBtn");
      y.style.display = "block";
      var x = document.getElementById("updateBtn");
      x.style.display = "none"
      $('#formAddEditData input[type=text]').val("");
      $('#formAddEditData input[type=number]').val("");
      $('#formAddEditData textarea[type=text]').val("");
      var temp = "";
      $("#clientId").val(temp);
    })

    $(function () {
      $("#searchStartDate").daterangepicker({
        autoUpdateInput: true,
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1980,
        locale: {
          format: "YYYY-MM-DD"
        }
      });
    });

    $("#searchStartDate").on("change", function () {
      var mindts = $("#searchStartDate").val();
      setmindate_kapan2(mindts);
    });

    function setmindate_kapan2(min) {
      $("#searchEndDate").daterangepicker({
        autoUpdateInput: true,
        singleDatePicker: true,
        showDropdowns: true,
        minDate: min,
        locale: {
          format: "YYYY-MM-DD"
        }
      });
    }

    $(function () {
      $("#startProject").daterangepicker({
        autoUpdateInput: true,
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1980,
        maxYear: parseInt(moment().format("YYYY"), 10),
        locale: {
          format: "YYYY-MM-DD"
        }
      });
    });

    $("#startProject").on("change", function () {
      var mindts = $("#startProject").val();
      setmindate_kapan(mindts);
    });

    function setmindate_kapan(min) {
      $("#endProject").daterangepicker({
        autoUpdateInput: true,
        singleDatePicker: true,
        showDropdowns: true,
        minDate: min,
        maxYear: parseInt(moment().format("YYYY"), 10),
        locale: {
          format: "YYYY-MM-DD"
        }
      });
    }

    $('#resetBtn').click(() => {
      $('#formAddEditData input[type=text]').val("");
      $('#formAddEditData input[type=number]').val("");
      $('#formAddEditData textarea[type=text]').val("");
      var temp = "";
      $("#clientId").val(temp);
    })

    $('#saveBtn').click(() => {
      if ($('#clientId').val() == "") {
        swal.fire("Data empty!", "Select Your Client", "error");
      } else if ($("#projectName").val() == "") {
        swal.fire("Data empty!", "Project Name Empty", "error");
      } else if ($("#startProject").val() == "") {
        swal.fire("Data empty!", "Set Date Start Project", "error");
      } else if ($("#endProject").val() == "") {
        swal.fire("Data empty!", "Set Date End Project", "error");
      } else if ($("#projectRole").val() == "") {
        swal.fire("Data empty!", "Project Role Empty", "error");
      } else if ($("#projectPhase").val() == "") {
        swal.fire("Data empty!", "Project Phase Empty", "error");
      } else if ($("#projectDescription").val() == "") {
        swal.fire("Data empty!", "Project Description Empty", "error");
      } else if ($("#projectTechnology").val() == "") {
        swal.fire("Data empty!", "Project Technology Empty", "error");
      } else if ($("#mainTask").val() == "") {
        swal.fire("Data empty!", "Main Task Empty", "error");
      } else {
        var data = getFormData($('#formAddEditData'));
        $('#saveBtn').hasClass('disabled');
        $.ajax({
          url: 'api/resource-project/',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (res) => {
            Swal.fire({
              icon: 'success',
              title: 'Add Data Success',
              showConfirmButton: false,
              timer: 1500
            })
            $('#addData').modal('hide');
            loadResoureProject();
          },
          error: () => {
            swal.fire("Error!", "Add data error", "error");
          }
        })
      }
    })

    $('#updateBtn').click(() => {
      if ($('#clientId').val() == "") {
        swal.fire("Data empty!", "Select Your Client", "error");
      } else if ($("#projectName").val() == "") {
        swal.fire("Data empty!", "Project Name Empty", "error");
      } else if ($("#startProject").val() == "") {
        swal.fire("Data empty!", "Set Date Start Project", "error");
      } else if ($("#endProject").val() == "") {
        swal.fire("Data empty!", "Set Date End Project", "error");
      } else if ($("#projectRole").val() == "") {
        swal.fire("Data empty!", "Project Role Empty", "error");
      } else if ($("#projectPhase").val() == "") {
        swal.fire("Data empty!", "Project Phase Empty", "error");
      } else if ($("#projectDescription").val() == "") {
        swal.fire("Data empty!", "Project Description Empty", "error");
      } else if ($("#projectTechnology").val() == "") {
        swal.fire("Data empty!", "Project Technology Empty", "error");
      } else if ($("#mainTask").val() == "") {
        swal.fire("Data empty!", "Main Task Empty", "error");
      } else {
        var id = $('#id').val();
        var data = getFormData($('#formAddEditData'));
        $('#updateBtn').hasClass('disabled');
        $.ajax({
          url: 'api/resource-project/' + id,
          type: 'put',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (res) => {
            Swal.fire({
              icon: 'success',
              title: 'Add Data Success',
              showConfirmButton: false,
              timer: 1500
            })
            $('#addData').modal('hide');
            loadResoureProject();
          },
          error: () => {
            swal.fire("Error!", "Add data error", "error");
          }
        })
      }
    })

    $(() => {
      get_client();
    });
    get_client = () => {
      $.ajax({
        url: 'api/client/employee',
        type: 'get',
        contentType: "application/json",
        success: function (result) {
          var optValue = "";
          optValue += '<option value="">- Pilih -</option>';
          for (var i = 0; i < result.length; i++) {
            optValue += `<option value="${result[i].id}">${result[i].name}</option>`;
          }
          $("#clientId").html(optValue);

        },
        error: function () {
          swal.fire("Error!", "Fetch Education Level Failed", "error");
        }
      })
    }

    function getFormData($form) {
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};
      $.map(unindexed_array, function (n, i) {
        indexed_array[n['name']] = n['value'];
      });
      return indexed_array;
    }

  </script>
</th:block>