<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">
<th:block layout:fragment="content">
	<div class="bottom p-4">
		<div class="col">
			<div class="container-fluid clearfix">
				<div class="card">
					<div class="card-block p-4">
						<div class="row">
							<div class="col">
								<h3 class="font-weight-bold">Undangan <label class="badge text-white" id="show-info">10</label>
								</h3>
							</div>
							<div class="col">
								<h4 class=" float-right">
									<a class="mr-2" data-toggle="modal" data-target="" href="#" id="page_sorting1"><i
											class="fa fa-sort-alpha-down" aria-hidden="true" id="sort-data1"></i></a>

									<a class="mr-2" data-toggle="modal" data-target="" href="#" id="page_sorting2"><i
											class="fa fa-sort-alpha-up-alt" aria-hidden="true" id="sort-data2"></i></a>

									<a class="mr-2" data-toggle="dropdown" data-target="" data-display="static" href="" id="page_show"><i
											class="fa fa-list" aria-hidden="true" aria-haspopup="true" aria-expanded="false"></i></a>
									<div class="dropdown-menu dropdown-menu-lg-right">
										<a id="data-show-10" class="dropdown-item" type="button">10 Data Per Page</a>
										<a id="data-show-20" class="dropdown-item" type="button">20 Data Per Page</a>
										<a id="data-show-30" class="dropdown-item" type="button">30 Data Per Page</a>
										<a id="data-show-40" class="dropdown-item" type="button">40 Data Per Page</a>
										<a id="data-show-50" class="dropdown-item" type="button">50 Data Per Page</a>
									</div>

									<a class="mr-2" data-toggle="modal" data-target="" href="#" id="add_undangan"><i
											class="fa fa-plus-circle" aria-hidden="true"></i></a>
								</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm">

								<div class="form-group">
									<label for="input-search-dari">Nama Pelamar</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="far fa-user"></i>
											</span>
										</div>
										<input type="text" class="form-control" id="input-search-pelamar" required autocomplete="off">
									</div>
									<!-- /.input group -->
								</div>
							</div>

							<div class="col-sm float-left">
								<div class="form-group">
									<label class="text-white">action</label>
									<div class="input-group">
										<button id="btn-search" class="btn btn-primary mr-2"><i class="fa fa-search"></i></button>
										<button id="btn-reset" class="btn btn-primary">Reset</button>
									</div>
									<!-- /.input group -->
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="card-block p-4">
						<div class="row">
							<div class="col-sm">
								<div id="showList">
									<!-- Show List Vacancy -->
									<table id="my-data" class="table table-hover">
										<thead class="">
										</thead>

										<tbody id="data_rows">
											<!-- Tempat data di isikan oleh java script -->

										</tbody>
									</table>
									<hr>
									<tfoot>
										<div class="row">
											<div class="col-sm col-md">
												<p> Total Data:
													<a class="badge badge-danger text-white" id="total-data"></a></p>
											</div>
											<div class="col-sm col-md">
												<p> Total Halaman:
													<a class="badge badge-warning text-white" id="total-size"></a></p>
											</div>
											<div class="col-sm col-md">
												<p>Data Per Halaman:
													<a class="badge badge-success text-white" id="total-page"></a></p>
											</div>
											<div class="col-sm col-md">
												<p> Halaman Ke:
													<a class="badge badge-primary text-white" id="total-ke"></a></p>
											</div>
										</div>
									</tfoot>

								</div>
								<hr>
								<input type="hidden" id="count-page">
								<input type="hidden" id="count-first">
								<input type="hidden" id="count-last">
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-end mr-2">
										<li class="page-item"><button class="page-link" id="prev">Previous</button></li>
										<li class="page-item"><button class="page-link diasabled" href="" id="next">Next</button></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal untuk menampilkna cuy..tinggal modif aja isinya sesuai kebutuhan -->
	<div class="modal fade" id="modal-undangan">
		<div class="modal-dialog modal-md modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #000066;">
					<h4 class="modal-judul text-white"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="text-white">&times;</span></button>
				</div>
				<div class="modal-body px-4">
					<input type="hidden" id="action" value="">
					<input type="hidden" id="cek-show" value="asc">

					<form id="get_form_undangan" class="">

						<!-- untuk menyimpan type hidden  -->
						<input type="hidden" id="get_detId" name="id">
						<input type="hidden" id="get_id" name="id">
						<input type="hidden" id="get_bioId" name="id">
						<input type="hidden" id="get_schedule_code" name="scheduleCode">

						<!-- ROw Pertama -->
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="get_tgl_undangan">Tanggal Undangan*</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="far fa-calendar-alt"></i>
											</span>
										</div>
										<input type="text" class="form-control" id="get_tgl_undangan" name="scheduleDate" required>
									</div>
									<!-- /.input group -->
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="get_jam_undangan">Jam*</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="fa fa-clock"></i>
											</span>
										</div>
										<input type="text" class="form-control" id="get_jam_undangan" name="time" required
											autocomplete="off">
									</div>
									<!-- /.input group -->
								</div>
							</div>
						</div>
						<!-- Row kedua -->
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<!-- Menampilkan nama Agama -->
									<label for="get_nama">Nama Pelamar*</label>
									<select class="form-control get_undangan" id="get_nama" name="name" required>
										<!-- <option value="">- Pilih -</option> -->
									</select>
								</div>
							</div>
							<div class="col-sm">
								<div class="col-sm">
									<div class="form-group">
										<label for="get_schedule_type">Jenis Jadwal*</label>
										<select class="form-control get_undangan" id="get_schedule_type" name="scheduleTypeId" required>
											<!-- diisi dari database master -->
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<!-- Menampilkan nama Agama -->
									<label for="get_ro">RO*</label>
									<select class="form-control get_undangan" id="get_ro" name="ro" required>
										<!-- <option value="">- Pilih -</option> -->
									</select>
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<!-- Menampilkan nama Agama -->
									<label for="get_tro">TRO*</label>
									<select class="form-control get_undangan" id="get_tro" name="tro" required>
										<!-- <option value="">- Pilih -</option> -->
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="get_othertro">RO / TRO Lain</label>
									<input type="text" name="otherRoTro" id="get_othertro" class="form-control get_undangan">
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="get_lokasi">Location</label>
									<input type="text" name="location" id="get_lokasi" class="form-control get_undangan">
									<div class="invalid-feedback">
										Please provide a valid city.
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="get_notes">Catatan</label>
									<textarea type="text" name="notes" id="get_notes" class="form-control get_undangan"
										rows="3"></textarea>
								</div>
							</div>
						</div>
				</div> <!-- /.modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
					<button type="button" class="btn btn-primary get_undangan x-hide" id="save_undangan">Simpan
					</button>
				</div> <!-- /.modal-footer -->
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- /.modal -->
	<div class="modal fade" id="detail-undangan">
		<div class="modal-dialog modal-md modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #000066;">
					<h4 class="modal-jdl text-white"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="text-white">&times;</span></button>
				</div>
				<div class="modal-body px-4">
					<input type="hidden" id="action" value="">
					<input type="hidden" id="cek-show" value="asc">

					<form id="" class="">

						<!-- untuk menyimpan type hidden  -->
						<!-- <input type="hidden" id="get_id" name="id"> -->
						<!-- <input type="hidden" id="get_schedule_code" name="scheduleCode"> -->

						<!-- ROw Pertama -->
						<div class="row" id="det-undangan">

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary get_undangan x-hide" id="ubah_undangan"
								onclick="get_edit()">Ubah
							</button>
						</div> <!-- /.modal-footer -->
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

</th:block>
<th:block layout:fragment="undangan">
	<script th:src="@{/js/undangan.js}"></script>
</th:block>